target/
C:\Users\HP\IdeaProjects\backend\credentials.json
C:\Users\HP\IdeaProjects\backend\src\main\resources\application.properties
C:\Users\HP\IdeaProjects\backend\src\main\resources\credentials.json
node_modules
grihini
gruhini-mirror.git.bfg-report


# push normally